<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-center mb5">
    <li class="navbar-nav nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active"  >
            <img src="assets/localMarket.png" alt="image" style="width:80px; height:80px;">
        </a>
    </li>
  <li class="navbar-nav nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">
            <h1 style="font-family: Georgia, 'Times New Roman', Times, serif">LOCAL MARKET</h1>
        </a>
      </li>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/customer']" routerLinkActive="router-link-active">
          <h3>CUSTOMER</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/seller']" routerLinkActive="router-link-active">
          <h3>SELLER</h3></a>
      </li>
    </ul>

    <ul class= "navbar-nav">
      <li class="nav-item" *ngIf= "isLoggedIn()">
        <span class="nav-link">Bienvenue <strong>{{getJwtClaim('sub')}}</strong></span>
      </li>
      <li class="nav-item" *ngIf= "!isLoggedIn()">
        <a class="nav-link" [routerLink]="['/login']"
            [queryParams]="{  'returnUrl' : '/home' }">Login</a>
      </li>
      <li class="nav-item" *ngIf= "isLoggedIn()">
          <a class="nav-link" routerLink="['/logout']">Logout</a>
      </li>
    </ul>
  </nav>

