<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-center mb5">
    <li class="navbar-nav nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active"  >
            <img src="assets/localMarket.png" alt="image" style="width:80px; height:80px;">
        </a>
    </li>
  <li class="navbar-nav nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active"  >
            <h1 style="font-family: Georgia, 'Times New Roman', Times, serif">LOCAL MARKET</h1>
        </a>
      </li>
    <ul class="navbar-nav nav-fill w-100">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/customer']" routerLinkActive="router-link-active"><h3>CUSTOMER</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/seller']" routerLinkActive="router-link-active"  ><h3>SELLER</h3></a>
      </li>
    </ul>
  </nav>


<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">LOCAL MARKET</a>

  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="collapsibleNavId">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item active">
        <a class="nav-link" href="#">I'm a customer <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
          <a class="nav-link" href="#">I'm a seller <span class="sr-only">(current)</span></a>
        </li>


    </ul>


    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="find something">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

  <!-- </div>
</nav> -->
